#logo {
    height: 35px;
}

#top-bar {
    background-color: #444C42;
}

#btm-nav {
    background-color: #90B082;
    /* position: absolute; */
    /* height: 100px; */
}

#btm-nav .navbar-nav > li {
    padding-left: 8vw;
    padding-right: 8vw;
}

small, .small {
    font-size: .7em !important;
}

#donate-icon {
    margin-top: 3px;
    height: 1.9rem;
}

#donate-icon-row {
    margin-left: 0;
    margin-right: 0;
}

#footer {
    margin-top: -15rem;
}
