html, body {
    overflow: hidden;
    height: 100%;
}

#content {
    max-height: calc(100% - 20%);
    overflow-y: scroll;
}

#logo {
    height: 35px;
}

#top-bar {
    background-color: #444C42;
}

#welcome-text {
    color: #657160;
}

p {
    font-size: .9em !important;
}

#btm-nav {
    background-color: #90B082;
}

#btm-nav .navbar-nav > li {
    padding-left: 8vw;
    padding-right: 8vw;
}

small, .small {
    font-size: .7em !important;
}

#donate-icon {
    margin-top: 3px;
    height: 1.9rem;
}

#donate-icon-row {
    margin-left: 0;
    margin-right: 0;
}
